


.top001 {
    margin-top: 29px;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

section.mobile-view img {
    margin-bottom: 17px;
}

.checkout-btn:hover{
  color: #fff;
}

.file-upload {
    display: none !important;
}

.loose-bid {
    color: #dc322d;
    font-size: 14px;
    font-weight: bold;
}

.win-bid {
    color: #5cb85c;
    font-weight: bold;
    margin-top: 11px;
}

.bidding-listing.wining-bid {
    border: solid 2px #5cb85c;
}


.bidding-listing.wining-bid {
    border: solid 2px #5cb85c;
}

.navbar-default .mainnav .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #d4d4d4;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

ul.nav.navbar-nav li {
    margin-right: 2px;
}

span.ranges {
    border-right: solid 1px #000;
    padding-right: 10px;
    color: #2d2d2d;
}



label.chng-pic {
    background: #5e9a5c;
    width: 150px;
    padding: 3px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    margin-top: -4px;
}
.profile-image001 img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
span.ranges-price {
    color: #5e9a5c;
    font-weight: 700;
}


.mainnav ul.nav.navbar-nav li:hover a {
 color: #000;
    background-color: #d4d4d4;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);}

/*.bidding-listing.closed-bid {
    border: solid 2px #ef8a88;
    box-shadow: 0px 0px 4px #f7caca;
}

.bidding-listing.wining-bid {
    border: solid 2px #5cb85c;
    box-shadow: 0px 0px 4px #a5d2be;
}*/

.wining-bid .bidding-update {
    display: none;
}

.bidding-time {
    color: #2b2b2b;
    font-size: 15px;
    font-weight: 600;
}
.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 8px solid 
    rgba(255, 255, 255, 0.7);
    margin: 0 auto;
}
.profile-pic {
    max-width: 100%;
    height: auto;
}
.p-image {

    position: absolute;
    color: #666666;

transition: all .3s cubic-bezier(.175, .885, .32, 1.275);

background:#fff;
    padding: 10px;
    border-radius: 100px;
    top: 0;

}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}



.dg-share-button {

   
    display: flex;
    align-items: center;
    justify-content: center;
   
}
 .dg-share-button.fill-space {
   max-width: 100%;
}
 .dg-share-button.hide-border {
   background: transparent;
   border: 1px solid transparent;
}
 .dg-share-button.hide-border:hover {
   background: transparent;
   border: 1px solid #ccc;
}
 .dg-share-button:hover {
   background: linear-gradient(transparent, rgba(0, 0, 0, 0.05));
}
 .dg-share-button-icon {
   flex-shrink: 0;
   width: 20px;
   height: 20px;
   background-color: #efefef;
}
 
.dg-share-button-text {

    color:#000;
    font-size: 18px;
    font-family: arial;

}
.dg-share-button-popup {
   display: block;
   position: absolute;
   z-index: -1;
   padding: 10px 20px;
   background-color: #fff;
   border: 1px solid #dcdcdc;
   box-shadow: 0 5px 8px #ccc;
   box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
   transform: translateY(0);
   opacity: 0;
   transition: opacity 0.4s, transform 0.4s;
}
 .dg-share-button-popup::before {
   content: '';
   display: block;
   position: absolute;
   bottom: 0;
   left: 50%;
   width: 0;
   height: 0;
   border-top: 5px solid #fff;
   border-left: 7px solid transparent;
   border-right: 7px solid transparent;
   border-bottom: 0 solid;
   transform: translate(-50%, 100%);
}

.notify002 {
    color:#5e9a5c;
    font-weight: bold;
    margin-top: 16px;
}
span.pro-icon-pic {

    vertical-align: middle;
    height: 38px;
    display: inline-block;

}

a.dropdown-toggle.pro-pic-top {
    padding: 7px 6px 0px 10px;
}

span.pro-icon-pic img {
    width: 38px;
    height: 38px;
    border-radius: 100px;
    display: inline-block;
}

.row.bidding-checkout {
    padding: 20px 0px;
    border: solid 1px #bfbfbf;
    margin: 20px 0px;
    border-radius: 5px;
}

.row.bidding-checkout {
    padding: 20px 0px;
    border-bottom: solid 1px #bfbfbf;
    box-shadow: 1px 1px 3px #a8a8a8;
}


.title007 {
    font-size: 19px;
    margin-bottom: 5px;
}

 .dg-share-button-popup.active {
   transform: translateY(calc(-100% - 10px));
   opacity: 1;
   z-index: 2;
}
 .dg-share-button-popup ul {
   display: flex;
   margin: 0;
   padding: 0;
   align-items: center;
   justify-content: space-around;
}
 .dg-share-button-popup li {
   display: inline;
   margin-right: 10px;
}
 .dg-share-button-popup li:last-child {
   margin-right: 0;
}
 .dg-share-button-popup li span {
   display: inline-block;
   width: 20px;
   height: 20px;
}

.reply-button button {

    background: #5e9a5c;

color:#fff;
    border-radius: 100px;
    padding: 5px 8px;
    border: none;
    text-align: center;

}
.reply-button {

    margin-top: -8px;
    float: right;
    margin-right: -7px;

}


.row.multi-field {
    margin-bottom: 10px;
}

.type-reply {
    width: 81%;
    float: left;
    border: none;
    margin-top: -5px;
}

.main-wrapper {

    min-height: 500px;
    margin-bottom: 80px;

}

button .msg-follow,
button .msg-following,
button .msg-unfollow{
  display: none;
}

img.img-responsive.logo.mobile-logo {
    max-width: 50px;
}

button.btn.btn-default.follow.following {
    background: #5db05a;
    color: #fff;
}

button .msg-follow{
  display: inline;
}

button.following .msg-follow{
  display: none;
}

button.following .msg-following{
  display: inline;
}

button.following:not(.wait):hover .msg-following{
  display: none;
}

button.following:not(.wait):hover .msg-unfollow{
  display: inline;
}


.bidding-desc {

    margin: 10px 0px;

}

.bidding-listing{

      margin: 10px 0px;


}

.bidding-price span {
    font-weight: 700;
    color: #5e9a5c;
}

.bidding-price{

    margin: 10px 0px;
        font-size: 17px;


}

.bidding-update{

    margin: 10px 0px;

}

.bidding-time{

      margin: 10px 0px;

}

.remove-field {
    text-align: right;
    margin-top: 25px;
}

.location001 {
    margin-top: 15px;
}

.add-field.btn.btn-success {
    margin-bottom: 10px;
    margin-top: 8px;
}

.bidding-listing {

    display: inline-block;
    padding: 8px 0px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 4px #8c8c8c;
    margin-top: 10px;
    margin-bottom: 10px;
}





.place-bid{

  margin-top: 10px;
}

.comment001 ul {
    list-style: none;
}


.user-img003 img {

    width: 44px;
    height: 44px;
    border-radius: 100px;
    object-fit: cover;

}
.user-img003 {

    float: left;
    margin-right: 10px;
    margin-bottom: 10px;

}

.add-comment {
    padding: 10px;
}

.comments-list {
    padding: 10px 8px;
    width: 100%;

}

.subcomment{    border-radius: 100px;
    border: solid 1px 
    #b5b5b5;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 37px;
    padding: 10px;
    display: none;
    width: 100%;
}

.cart005{
  padding-top: 10px;
}

.quantity.center {
    text-align: center;
}

.cart-listing {
    border-bottom: solid 1px 
#c6c6c6;
margin-top: 16px;
background:
    #f5f5f5;
    padding: 12px;
}


.shippingbtn {

    text-align: right;
    margin-bottom: 18px;

}

.cart-list-payment .row {

    padding: 6px;

}

.cart-list-payment {

    margin-top: 12px;

}


.pull-right.total-prc {

    font-size: 20px;

}



.cart-list-img {
    width: 50px;
    height: 40px;
    object-fit: cover;
}

.main-heading005 {

    border-bottom: solid 1px #b9b9b9;
    padding-bottom: 13px;
    margin-top: 7px;

}
.payment-images{

  width: 200px;
  margin-bottom: 30px;
}

.panel-default > .panel-heading {

color: #fff;
background-color: #666;
border-color: #ddd;

}

.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 10px;
}

.form1.qty {
    width: 107px;
}

/*.comment001 {

    margin-top: 31px;

}*/

.user-text003 p {

    background:#f2f2f2;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;

}

.user-text003 span {
    font-style: italic;
    font-size: 15px;
}

span#show b {
    font-style: normal;
    font-weight: 700;
}

.container {
    padding-bottom: 50px;
}


.imageThumb {
    height: 100px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
    object-fit: cover;
    width: 100px;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
  height: 100px;
  width: 100px;
}
.remove {
    display: block;
    background: #bd3737;
    border: 1px solid #c02121;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
}
.remove:hover {
  background: white;
  color: black;
}

.upload-pro {
display: inline-block;
background:#ececec;
width: 100%;
padding: 35px;
text-align: center;
border: dashed 2px #000;
}

#files {
    display: none;
}

.option001 {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 18px;
}

.option001 input:checked ~ .checkmark {
    background-color: 
    #5E9A5C;
}

.modal a {
    color: #000;
}

.pro-desc{

  min-height: 200px;
  resize: none;
}


.option001:hover .checkmark {
    border: solid 8px 
    #5e9a5c;
}

.option001:focus .checkmark {
    border: solid 8px 
    #5e9a5c;
}

.option001 .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 25px;
    background-color: #eee;
border: solid 2px #5e9a5c;
}

/* Hide the browser's default radio button */
.option001 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.option001:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.option001 input:checked ~ .checkmark {
    background-color: 
    #5E9A5C;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.option001 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.option001 .checkmark::after {
    top: 6px;
    left: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: 
    white;
}

.modal-header {
  padding: 0;
}
.modal-header .close {
  padding: 10px 15px;
}
.modal-header ul {
  border: none;
}
.modal-header ul li {
  margin: 0;
}
.modal-header ul li a {
  border: none;
  border-radius: 0;
}
.modal-header ul li.active a {
  color: #e12f27;
}
.modal-header ul li a:hover {
  border: none;
}
.modal-header ul li a span {
  margin-left: 10px;
}
.modal-body .form-group {
  margin-bottom: 10px;
}


.profile-header {
    display: inline-block;
    width: 100%;
    padding: 20px;
    background: url(../images/bg2.jpg);
    padding-bottom: 79px;
    background-position: center;
}


.slide-box001 {

    background: 

    #eaeaea;
    padding: 14px;

    height: 100%;

}

button.search-toggle {
    color: #fff;
    background: #5e9a5c;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.app-icon img {
    width: 200px;
}

.slide-box001:hover {
    opacity: 1;
    box-shadow: 1px 62px 739px 145px #1f1f1f;
    z-index: 9;
    position: relative;
}


.slide-box002 {

    background: 

    #eaeaea;
    padding: 14px;
    height: 100%;

}

.slide-box002:hover {

   opacity: 1;
    box-shadow: 1px 62px 739px 145px #1f1f1f;
    z-index: 9;
    position: relative;

}


.single-page-counter {
    font-size: 23px;
    font-weight: bold;
}

.bid-price {
    color: 
    #0d8809;
}

.bid-price span{
  color: #000;
}

.bid-price .saving{
  font-size: 15px;
}

.input-group.bid001 .bid-btn {

    background: #5e9a5c;

height: 50px;

color:#fff;
    font-weight: bold;
    padding: 0px 45px;

}

#show {

    cursor: pointer;

}

.bid001 .form-control {

    height: 49px;

}

.slide-box003 {

    background: 

    #eaeaea;
    padding: 14px;
    height: 100%;

}

/*.slide-box003:hover {

   opacity: 1;
    box-shadow: 1px 62px 739px 145px #1f1f1f;
    z-index: 9;
    position: relative;

}*/


/* The slow way */
.slide-box003 {
  transition: box-shadow 0.3s ease-in-out;
}

.slide-box002 {
  transition: box-shadow 0.3s ease-in-out;
}

.slide-box001 {
  transition: box-shadow 0.3s ease-in-out;
}

/* Transition to a bigger shadow on hover */
.slide-box003:hover {
opacity: 1;
    box-shadow: 1px 62px 739px 145px #1f1f1f;
    z-index: 9;
    position: relative;
  }

header {

    z-index: 10;
    position: relative;
    background: 

    #fff;
    padding-bottom: 1px;

}
.ads-box001.grid01 {

    margin-bottom: 30px;

}

.chng-btn {

    background: 

#5e9a5c;

color:

    #fff;
    padding: 10px;
    margin-top: 9px;
    border-radius: 5px;

}

#change {
    display: none;
}

.social-icon i {
    color: 
    #fff;
}


.bid-desc {

    padding: 11px;

}

.counter-clr {
    color: red;
    text-align: center;
}

ul.nav.navbar-nav {
    padding-left: 12px;
    padding-right: 12px;
}

.profile-info {
    display: inline-block;
    text-align: right;
    width: 100%;
}

.profile-image img {

    width: 125px;
    height: 125px;
    object-fit: cover;

}

.profile-name {
    color: #fff;
}

.pro001 img {
    width: 100%;
}

.dropdown.account-drop {
    float: right;
    margin-left: 12px;
}


.dropdown.account-drop.open > .dropdown-menu {
    display: block;
    float: left;
    position: absolute;
    left: -122px;
    right: 59px !important;
    width: 150px;
}


.card-content {
    background: #ffffff;
    border: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    float: left;
    margin-bottom: 28px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

a.btn-read {
    background: #5e9a5c;
    color: #fff;
    padding: 10px 23px;
    margin-bottom: 10px;
    display: inline-block;
}


a.btn.btn-default.addnew-btn {
    background: #5e9a5c;
    color: #fff;
}

.card-img001 {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}

.card-img001 img {
  width: 100%;
  height: auto;
  display: block;
}

.card-img001 span {
  position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img001 span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
  padding: 1.25rem;
}

.ad-btn {
    text-align: right;
}
.details-card {
    padding: 15px;
    background: #fff;
    top: -46px;
    position: relative;
    width: 96%;
    margin-left: 2%;
    border-radius: 8px;
    box-shadow: 1px 1px 13px #b5b5b5;

}
.panel-heading011 {
    margin-top: 5px;
    margin-bottom: 26px;
}

.profile-image {
    text-align: center;
}

.card-desc h3 {
  color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
  color: #747373;
    font-size: 14px;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/* End card section */


.check1 {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    padding-right: 10px;
    margin-top: 5px;
    font-weight: bold;
}
/* Hide the browser's default checkbox */
.check1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border: solid 2px #5e9a5c;
}
/* On mouse-over, add a grey background color */
.check1:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check1 input:checked ~ .checkmark {
    background-color: #5e9a5c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check1 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check1 .checkmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.card.card-product .title {
    font-weight: bold;
    text-align: center;
}

.card.card-product .bidding {
    background: #fff;
    padding: 8px;
    border-radius: 3px;
    border: solid 1px #d6d5d5;
    box-shadow: 1px 1px 8px #ddd;
    margin-bottom: 27px;
}

.bidding .price-wrap.h5 {
    text-align: center;
    margin-bottom: 10px;
}

.rating-1 {
    font-weight: bold;
    float: right;
    color: #5e9a5c;
    display: inline-block;
    text-align: right;
    margin-top: 10px;
}

.card.card-product .title {
    font-weight: bold;
}

.card.card-product {
    background: #fff;
    padding: 8px;
    border-radius: 3px;
    border: solid 1px #d6d5d5;
    box-shadow: 1px 1px 8px #ddd;
    margin-bottom: 27px;
}

.price-wrap.h5 {
    margin-bottom: 10px;
    display: inline-block;
}

.search-filter .form-control {
    margin-bottom: 16px;
}

.search-filter {
    display: inline-block;
    width: 100%;
    background: #f1f1f1;
    padding: 22px 10px 10px;
    border-top: solid 3px #5e9a5c;
    margin-bottom: 30px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #5e9a5c;
    border-color: #5e9a5c;
}
.pagi001 {
    text-align: center;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #31842e;
    border-color: #122b40;
}

.btn-primary:hover {
    color: #fff;
    background-color: #468244;
    border-color: #468244;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.btn-search {
    color: #333;
    background-color: #5e9a5c;
border-color:#5e9a5c;
color:#fff;
    float: right;
}


.rating .glyphicon {font-size: 22px;}
.rating-num { margin-top:0px;font-size: 54px; }
.progress { margin-bottom: 5px;}
.progress-bar { text-align: left; }
.rating-desc .col-md-3 {padding-right: 0px;}
.sr-only { margin-left: 5px;overflow: visible;clip: auto; }



.bold.rating-header {
    font-size: 23px;
}


.row.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}


.comment-img {
  
float: left;}

.comment-img img{
  width: 50px;
    border-radius: 100px; }


.card.card-product .img-wrap img {
    max-height: 160px;
    object-fit: contain;
    min-height: 160px;
}

.comment-user-img {
    display: inline-block;
}

.comment-name{

  font-weight: bold;
}


.message-comment{display: block;}


.name-date {
    float: left;
    margin-left: 10px;
}

input.btn.btn-default.comment-btn {
    background: #5e9a5c;
    color: #fff;
}

.comment-1 {
    margin-top: 20px;
    border-bottom: solid 1px #777;
}

.comment-1 {
    margin-top: 20px;
    border-bottom: solid 1px #777;
    margin-bottom: 20px;
}


.desc005 {
    margin-top: 60px;
    margin-bottom: 25px;
}

.no-padding{
  padding:0px;
}

.variation {
    width: 170px;
    margin-bottom: 10px;
}


.comment-box textarea {
    height: 92px;
    resize: none;
}

.details {
    margin-top: 24px;
}

h2.review-heading {
    border-bottom: solid;
    margin-bottom: 20px;
    background: #5e9a5c;
    color: #ffff;
    padding: 10px;
    font-size: 24px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
cursor: default;
background-color:#5e9a5c;
border: 1px solid #ddd;
    border-bottom-color: rgb(221, 221, 221);
border-bottom-color:
    transparent;
    font-size: 16px;
}

.btn.btn-default.add-new {

    background: #6a6a6a;

color: #fff;
    font-size: 16px;

}


.nav-tabs > li > a {

    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-size: 16px;
    color:#737373;

}
.item .thumb {
  width: 25%;
  cursor: pointer;
  float: left;
}
.item .thumb img, .item img {
  width: 100%;  
}

.quantity div {
    display: inline-block;
    background: #5e9a5c;
    color: #fff;
    padding: 3px;
}



.quantity input {
    color: #000;
    text-align: center;
    width: 76px;
}

.tab-content01 {
  overflow: hidden; }
  .tab-content01 img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card01 {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }



.details01 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors01 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title01, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title01, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title01 {
  margin-top: 0; }

.size01 {
  margin-right: 10px; }
  .size01:first-of-type {
    margin-left: 40px; }

.color01 {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color01:first-of-type {
    margin-left: 20px; }

.add-to-cart01, .like {
    background: #5e9a5c;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}
.price span {
    color: #5e9a5c;
    font-size: 30px;
}
  .add-to-cart01:hover, .like:hover {
    background: #5e9a5c;
    color: #fff; }

.not-available01 {
  text-align: center;
  line-height: 2em; }
  .not-available01:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange01 {
  background: #ff9f1a; }

.green01 {
  background: #85ad00; }

.blue01 {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*# sourceMappingURL=style.css.map */

.main01 {
    background: url(../images/bg2.jpg) no-repeat;
    padding: 20px;
    background-size: cover;
    background-attachment: fixed;
}

.main02 {
    background: url(../images/bg3.jpg) no-repeat;
    padding: 20px;
    background-size: cover;
    display: inline-block;
    background-position: center;
}

.login-1 label {
    color: #000;
    display: block;
    font-size: 15px;
}

input.regis-btn {
    background: #5e9a5c;
    color: #fff;
    border: solid;
    padding: 12px 47px;
    margin-top: 19px;
    border-radius: 5px;
    font-size: 20px;
}

h2.create-account {
    color: #757575;
    font-weight: 600;
    background: #f3f3f3;
    padding: 9px;
    font-size: 18px;
    border-left: solid 5px #5e9a5c;
}

.side-heading p {
    font-size: 19px;
}

.side-heading h2 {
    color: #464646;
    font-weight: 700;
    font-size: 46px;
}

.login-1 input[type="text"] {
   height: 35px;
width: 100%;
border-radius: 5px;
border: none;
padding: 5px 19px;
border: solid 1px #9f9f9f;
}

.login-1 h2 {
    text-align: center;
    border-bottom: solid 1px #b7b7b7;
    padding-bottom: 10px;
    font-weight: bold;
    color: #d60505;
    margin-bottom: 42px;
}



.login-1 input[type="password"] {
  height: 35px;
width: 100%;
border-radius: 5px;
border: none;
padding: 5px 19px;
border: solid 1px #9f9f9f;
}

.login-1 {
    border-radius: 10px;
    margin: auto;
    margin-top: 2%;
}

.back-home {
    text-align: center;
    margin-top: 10px;
}

.back-home a {
    color: #fff;
}

.forget a {
    color: #000;
}

.left{
  float: left;
}

.right{
  float: right;
}

.login-1 input[type="email"] {
    height: 33px;
    width: 100%;
    border-radius: 100px;
    border: none;
    padding: 5px 19px;
}

.cross {

    position: absolute;
    right: 7px;
    color:#9d9d9d;
    font-size: 20px;
    text-align: center;
    border-radius: 100px;
    padding: 7px;

}

.forget {

    color:#575757;

}
/*.add-products .modal-content {
    text-align: center;
}
*/


.quickbid .modal-title {
    
    line-height: 1.42857143;
    margin-top: 6px;
    margin-left: 13px;
}

.quickbid .modal-body {
    text-align: left;
}

.quickbid .modal-header {
    background: 
#5e9a5c;
color:
    #fff;
}


.add-products .modal-title {
    
    line-height: 1.42857143;
    margin-top: 6px;
    margin-left: 13px;
}

.add-products .modal-body {
    text-align: center;
}

.add-products .modal-header {
    background: 
#5e9a5c;
color:
    #fff;
}

/*.add-products .modal-content {

background: transparent;
box-shadow: none;
border: none;
color:#fff;
text-align: center;

}*/

.login-1 input[type="submit"] {
    background: #5e9a5c;
    color: #fff;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.s-heading {
    text-transform: uppercase;
    color: #dc0909;
    font-weight: 700;
}

img.img-responsive.logo.center {
    margin: 0 auto;
}

#addtocart {
  width: 250px;
}

.badge {
  background-color: red;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.form1 {
    width: 100%;
    height: 38px;
    border: solid 1px #919191;
    border-radius: 5px;
    padding: 10px;
}

.shopping-cart {
  background: white;
  width: 320px;
  position: absolute;
  top: 70px;
  right: -10px;
  border-radius: 3px;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;

z-index: 9999;
  opacity: 0;
  -webkit-transform-origin: right top 0;
  -webkit-transform: scale(0);
  transform-origin: right top 0;
  transform: scale(0);
}
.shopping-cart.active {
  opacity: 1;
  -webkit-transform-origin: right top 0;
  -webkit-transform: scale(1);
  transform-origin: right top 0;
  transform: scale(1);
}


.slider-heading {
    color: #000;
    padding: 7px;
    margin-bottom: 13px;
    font-size: 20px;
    font-weight: 500;
    background: #fff;
    border-bottom: solid 2px #5e9a5c;
}


.navbar-default {
    background-color: #5e9a5c;
    border-color: #5e9a5c;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
}

.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: right;
}
.shopping-cart .shopping-cart-items {
  padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
  max-width: 70px;
  max-height: 70px;
}
.shopping-cart .shopping-cart-items .item-name {
  display: block;
  font-size: 16px;
}
.shopping-cart .shopping-cart-items .item-detail {
  display: block;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.shopping-cart .shopping-cart-items .item-price {
  color: #00c0cb;
  margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
  color: #ABB0BE;
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

i.fa.fa-shopping-cart {
    color: #676767;
    font-size: 37px;
}

.cart-icon001 {
    text-align: right;
    padding-top: 6px;
}

.input-group.filter001 {
    margin-top: 8px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}

ul.shopping-cart-items {
    list-style: none;
    padding-left: 10px;
}

.cart-icon001 ul li {
    display: inline-block;
}

li.support {
    margin-right: 19px;
    padding-top: 0px;
}


.col-md-3.cart-icon001 ul {
    list-style: none;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.filter001 .btn-default {
    color: #fff;
    background-color: #5e9a5c;
    border-color: #ccc;
     height: 44px;
}

.filter001 .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    height: 44px;
}

.img-responsive.logo {
    width: 150px;
}

.top-header {

    padding-top: 7px;
    padding-bottom: 9px;

}


.footer-bar{
text-align: justify;
background-color:#353333;
color: white;
padding: 20px;   
}

.useful-link a {
    display: block;
    color: #fff;
    font-size: 15px;
    padding-bottom: 7px;
    border-bottom: solid 1px #676666;
    margin-bottom: 5px;
}

footer {
    z-index: 9999;
    position: relative;
}

.line-bar{
border-bottom: 1px solid #6c6a6a;
}
.social:hover {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
}
.social {
-webkit-transform: scale(0.8);
/* Browser Variations: */
-moz-transform: scale(0.8);
-o-transform: scale(0.8);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
}
/*
Multicoloured Hover Variations
*/
#social-fb:hover {
color: #3B5998;
}
#social-tw:hover {
color: #4099FF;
}
#social-gp:hover {
color: #d34836;
}
#social-em:hover {
color: #f39c12;
}

.new-bar{
width: 100%;
padding: 10px;
border-radius: 5px;
border:0px;   
}
.copy-bar{
text-align: center;
background-color: black;
color: white;  
}
.Subcribe-bar {
    background-color: #5e9a5c;
    padding: 10px;
    width: 150px;
    margin-top: 20px;
    border-radius: 5px;
    border: 0px;
}

.slide-box{

    background: #efefef;
	min-height: 500px;
        margin: 10px;


}

.slide-box1 {
    background: #efefef;
    min-height: 500px;
    padding: 15px;
            margin: 10px;

}

.slide-box3 {
    background:#efefef;
    min-height: 500px;
    padding: 15px;
        padding-bottom: 15px;
    margin: 10px;
    padding-bottom: 102px;
}
.ad-img img {
    width: 29px !important;
    height: 29px;
    object-fit: cover;
    border-radius: 100px;
}

.pro001 {
    display: inline-block;
}

a.btn.btn-sm.btn-primary.float-right.bid-btn {
    background: #a90505;
    border: solid 1px #a90505;
    width: 100%;
}

.topbar001 {
    display: inline-block;
    background: #828282;
    width: 100%;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}

.price-new {
    font-size: 20px;
}

.checkout-btn {
    width: 100%;
    background: #c72317;
    border: solid 1px #bf2418;
    display: block;
    text-align: center;
    padding: 6px;
    color: #fff;
    border-radius: 5px;
}


.cart-btn {
    width: 100%;
    background: #5e9a5c;
    border: solid 1px #5e9a5c;
}

.sharing-icons {

    text-align: center;
    padding: 7px;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px#ddd;

}


.sharing-icons a {

    color: #000;

}





.icon1 {
   
    display: inline-block;
    margin-left: 10px;
}

.icon1 i {
    color: #636363;
}
.icon1 i:hover {
    color: #5e9a5c;
}



.slide-box {
    padding: 15px;
}

h4.title {
    font-size: 17px;
}

.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
    border-top: 1px solid #eee;
}

figure {
    margin-bottom: 24px;
}

h3.title01 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 8px;
    padding-top: 8px;
}

.sharing-icons ul {
    list-style: none;
}

.topbar001.bid-single {
    background: 
    #5e9a5c;
}

.ads-box001 {
    background: #fff;
border-radius: 4px;
margin-bottom: 14px;
padding: 6px;
box-shadow: 0px 0px 8px
    #b5b5b5;
}

.sharing-icons ul li {
    display: inline;
    /* width: 100px; */
}

.card.card-product {
    background: #fff;
    padding: 8px;
    border-radius: 3px;
    border: solid 1px #d6d5d5;
    box-shadow: 1px 1px 8px #ddd;
}



.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-old {
    color: #999;
}

.owl-item.center > div {
    cursor: auto;
    margin: 10px;
    opacity: 1;
}


.owl-item:not(.center) > div:hover {
  opacity: .75;
}

.owl-item.active {
    opacity: 0.5;
}

.comment-text {

    width: 100%;
    height: 38px;
    border-radius: 100px;
    border: solid 1px 

    #a6a6a6;
    padding: 10px;

}

.comment001 ul {

    list-style: none;
    padding-left: 5px;

}

.owl-item.cloned.active {
    opacity: 0.5;
}

.owl-item.active.center {
    opacity: 1;
}

.owl-item.active.center {
    opacity: 1;
    box-shadow: 1px 1px 166px 4px 
    #000;
    z-index: 999;
}



@media screen and (max-width: 767px) {
  .owl-item.active.center {
    opacity: 1;
    box-shadow: 1px 1px 166px 4px 
    #000;
    z-index: 999;
}


.mobile-logo{
  display: block;
}
.desktop-logo{
  display: none;
}


}


@media screen and (min-width: 767px) {
  .owl-item.active.center {
    opacity: 1;
    box-shadow: 1px 1px 166px 4px 
    #000;
    z-index: 999;




}

.mobile-logo{
  display: none;
}
.desktop-logo{
  display: block;
}

.proceed005 {

    margin-top: 115px;

}

.modal-dialog.modal-md {
    width: 470px;
    margin: 30px auto;
}
.bid-img img {

    min-height: 185px;
    max-height: 185px;
    object-fit: contain;

}


}



@media screen and (min-width: 520px) {
  .owl-item.active.center {
    opacity: 1;
    box-shadow: 1px 1px 166px 4px 
    #000;
    z-index: 999;


}

.search-toggle{
  display: none;
}




.main-home{
  display: block;
}

.mobile-view{
  display: none;  
}


.well {
   
    margin-top: 70px;
}
}


@media screen and (max-width: 520px) {


  li.support {
    float: left;
    text-align: left;
}

.search-toggle{
  display: inline-block;
}

.search-filter{
  display: none;
}

.btn-search{
  float: none;
}

.cart-icon001 ul {
    padding-left: 0;
}



.user-text003 p {

    font-size: 12px;

}
.user-text003 {

    font-size: 12px;

}



}

@media screen and (max-width: 1100px) {


.card.card-product .img-wrap img {
    max-height: 200px;
    object-fit: contain;
    min-height: auto;
}

.ad-img {
    display: none;
}

}

@media screen and (max-width: 980px) {

  .profile-name {
    text-align: center;
}

.profile-info {
    text-align: center;
}

.dropdown-menu li a {
    color: #fff !important;
}


}



@media screen and (max-width: 580px) {
  .owl-item.active.center {
    opacity: 1;
    box-shadow: 1px 1px 166px 4px 
    #000;
    z-index: 999;

}

.main-home{
  display: none;
}

.mobile-view{
  display: block;  
}

.owl-carousel {
    display: block;
    width: 100%;
    z-index: 1;
}



.card.card-product .img-wrap img {
    object-fit: contain;
    min-height: 200px;
}



.side-heading h2 {
    color: #da1515;
    font-weight: 700;
    font-size: 30px;
}
li.support {
  display: none;
    margin-right: 19px;
    padding-top: 0px;
}
}

@media screen and (min-width: 997px) {
  .main-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } 

.img-responsive.bidding-list-image {

    height: 66px;
    width: 70px;
    object-fit: cover;
    margin-top: 10px;

}
  }

      @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }
